language: c
compiler: gcc
sudo: false

env:
  - TEST_DIR=arrays
  - TEST_DIR=colors
  - TEST_DIR=control-statements
  - TEST_DIR=expressions
  - TEST_DIR=file-input-with-math ARGS=-lm
  - TEST_DIR=for
  - TEST_DIR=for-loops-with-arrays
  - TEST_DIR=functions
  - TEST_DIR=printf
  - TEST_DIR=string-and-char-io RUN=no
  - TEST_DIR=structs-and-binary-files RUN=no
  - TEST_DIR=time RUN=no
  - TEST_DIR=while

branches:
  only:
    - master

before_script:
- chmod +x script/*
script: script/cibuild
after_success:
  - bash <(curl -s https://codecov.io/bash)
