language: c
compiler: gcc
env:
  - TEST_DIR=arrays
  - TEST_DIR=colors
  - TEST_DIR=control-statements
  - TEST_DIR=expressions
  - TEST_DIR=file-input-with-math ARGS=-lm
  - TEST_DIR=for
  - TEST_DIR=for-loops-with-arrays
  - TEST_DIR=functions
  - TEST_DIR=printf
  - TEST_DIR=string-and-char-io
  - TEST_DIR=structs-and-binary-files
  - TEST_DIR=time
  - TEST_DIR=while
script: cd $TEST_DIR && gcc main.c $ARGS